.mt-header-nav {
  color: #ccc;
}

.desc, .desc-detail {
  margin-left: 0;
  text-align: center;
}

.icon-intro li .extra {
  width: 96px;
}

.icon-intro li .brand {
  width: 96px;
}

mt-qa-card {
  display: block;
  width: 80%;
  margin-left: 10%;
}

.qa {
  font-family: PingFangSC-Medium, sans-serif;
  color: #fff;
  text-align: center;
  font-size: 50px;
  margin-top: 5%;
  margin-bottom: 3%;
}

aside li:hover {
  color: #ffa900;
}

form {
  margin-top: 8%;
  position: relative;
  width: 74%;
  margin-left: 18%;
  padding-right: 90px;
}

form:after {
  content: "";
  display: table;
  clear: both;
}

.item-input {
  float: left;
  border-radius: 8px;
  width: 35%;
  height: 60px;
  border: 0;
  box-shadow: inset 2px 2px 5px #ccc;
}

.item-input input {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 1em;
  outline: none;
  background-color: #fff;
  border-radius: 8px;
}

.item-input:nth-child(2) {
  margin-left: 3%;
}

.apply-button {
  min-width: 110px;
  margin-left: 3%;
  border-radius: 8px;
  font-size: 20px;
  padding: 20px;
  line-height: 20px;
  border: 0;
}

.download {
  padding-top: 10%;
}
