form {
  margin-top: 8%;
  position: relative;
  width: 74%;
  margin-left: 13%;
  padding-right: 90px;
}

form:after {
  content: "";
  display: table;
  clear: both;
}

.item-input {
  float: left;
  /*background: #fff;*/
  border-radius: 8px;
  width: 47%;
  height: 60px;
  border: 0;
  /*overflow: hidden;*/
  box-shadow: inset 2px 2px 5px #ccc;
}

.item-input:nth-child(2),
.item-input:nth-child(4) {
  margin-left: 6%;
}

.item-input:nth-child(3),
.item-input:nth-child(4) {
  margin-top: 20px;
}

.item-input input {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 1em;
  outline: none;
  background-color: #fff;
  border-radius: 8px;
}
.item-input.item-input-inset{
  padding-right: 80px;
  position: relative;
}
.item-input.item-input-inset button{
  width: 120px;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  background:#c0c0c0;
  color: #fff;
  outline: none;
}
.item-input.item-input-inset input {
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}



form .yy-btn {
  position: absolute;
  right: 0;
  width: 70px;
  height: 100%;
  font-size: 30px;
  padding: 20px;
  line-height: 50px;
  border-radius: 8px;
  /*border-color: #63d462;*/
  /*background-color: #63d462;*/
  /*box-shadow: 0 2px 6px 0 #439742;*/
  /*color: #fff;*/
}
.item-input-select{
  position: relative;
}
.item-input-select .label-wrap{
  width: 100%;
  border-radius: 8px;
  line-height: 28px;
  color: #b7b8b7;
  height: 100%;
  padding: 1em;
  background-color: #fff;
}
.item-input-select:hover .course-label{
  display: block;
}
.course-label{
  display: none;
  margin-top: 10px;
  padding: 15px;
  width: 100%;
  position: absolute;
  background: url(./images/border-box.png) no-repeat;
  background-size: 100% 80px;
}
.course-label:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 25px;
  top: -10px;
  left: 0;
}
.course-label li{
  color: #fff;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  cursor: pointer;
}
.course-label li:hover{
  color: #63d462;
}
